#customOrder {
  @include size(100%, 60vh);
  @include flexInfo(column, center, center, center);
  background: url(../../images/heroSection.jpg) no-repeat 84%;
  background-size: cover;

  h2 {
    font-weight: 500;
    font-size: 3.75rem;
    line-height: 4.5rem;
    display: flex;
    align-items: center;
    text-align: center;
  }
  .titleFirst {
    color: $pink;
  }
  .titleSecond {
    color: $lightBlue;
  }
  p {
    margin-top: 2rem;
    max-width: 40%;
  }
  p,
  button {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.8rem;
    text-align: center;
    color: $secondaryColor;
  }
  button {
    border: none;
    border-bottom: 2px solid $pink;
    background-color: transparent;
    &:hover {
      border: none;
      cursor: pointer;
      border-bottom: 2px solid $lightBlue;
    }
  }

  @media only screen and (max-width: 992px) {
    p {
      max-width: 70%;
    }
  }

  @media only screen and (max-width: 768px) {
    @include size(100%, 100vh);
    overflow: hidden;
    h2 {
      font-size: 2.5rem;
      line-height: 2.5rem;
      font-weight: 600;
    }
    p {
      max-width: 95%;
      font-size: 1.1rem;
    }
    button {
      font-size: 1.1rem;
    }
  }
}
