#footer {
  @include flexInfo(row, center, center, center);
  height: 7.5rem;
  width: 100%;
  a {
    text-decoration: none !important;
    color: $primaryColor;
    margin-right: 1rem;
    text-align: center;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.8rem;
    span {
      text-align: center;
      color: $pink;
    }
  }
  span {
    text-align: center;
    align-self: center;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.8rem;
  }
  .col-lg-4,
  .col-md-4 {
    @include flexInfo(row, center, center, center);
    height: 100%;
  }
  .icon {
    width: 2rem;
    height: 2rem;
    color: $pink;
    &:hover {
      color: $lightBlue;
    }
  }

  @media only screen and (max-width: 768px) {
    @include flexInfo(column, center, center, center);
    min-height: 10rem;
    margin-bottom: 2rem;
    a,
    span {
      font-size: 1.1rem;
    }
    .mobileResponsive {
      @include flexInfo(row, center, center, center);
      flex-wrap: nowrap;
      .col-lg-4,
      .col-md-4 {
        @include flexInfo(column, center, center, center);
        height: 100%;
        max-width: 30%;
      }
    }
  }
}
