@mixin size($w, $h) {
  width: $w;
  height: $h;
}
@mixin flexInfo($direction, $justifyC, $alignC, $alignI) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justifyC;
  align-content: $alignC;
  align-items: $alignI;
}
@mixin imageStray($pos, $width, $top, $left) {
  position: $pos;
  width: $width;
  top: $top;
  left: $left;
}
@mixin responsiveRemove() {
  @media only screen and (max-width: 992px) {
    display: none;
  }
}

#home {
  // <<   Hero Section    >>
  #heroSection {
    @include size(100%, 86vh);
    @include flexInfo(column, center, center, center);
    background: url(../images/heroSection.jpg) no-repeat 84%;
    background-size: cover;
    h1 {
      font-weight: 600;
      font-size: 4.5rem;
      line-height: 5.5rem;
      text-align: center;
      color: $primaryColor;
      span {
        color: $pink;
      }
    }
    p {
      margin-top: 2rem;
      font-size: 1.5rem;
      text-align: center;
    }
    button {
      border: none;
      border-radius: 7px;
      margin-top: 2rem;
      width: 18.75rem;
      height: 5.3125rem;
      background-color: $pink;
      color: white;
      font-weight: 600;
      font-size: 1.5rem;
      text-align: center;
      &:hover {
        background-color: $lightBlue;
      }
    }
  }

  // <<   Inspiration    >>
  #introduction {
    @include size(100%, 100vh);
    .mobile {
      display: none;
    }
    h1 {
      font-style: normal;
      font-weight: 500;
      font-size: 3.75rem;
      line-height: 4.5625rem;
      color: $lightBlue;
      span {
        color: $pink;
      }
    }
    .desktop {
      position: relative;
      max-width: 100%;
      top: 0;
      left: 0;
    }
    .ballImg {
      @include imageStray(absolute, 19rem, 35rem, 0);
    }
    .dotsImg {
      @include imageStray(absolute, 35rem, 18rem, 52rem);
    }
    .intro1Img {
      @include imageStray(absolute, 65rem, 12rem, 8rem);
    }
    .intro2Img {
      @include imageStray(absolute, 35rem, 0, 53rem);
    }

    @media only screen and (max-width: 991px) {
      @include size(100%, 50vh);
      @include flexInfo(column, center, center, center);
      .desktop {
        display: none;
      }
      .mobile {
        display: block;
      }
      h1 {
        text-align: center;
      }
    }
  }

  // <<   Categories    >>
  #categories {
    @include size(100%, 100vh);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2em 2em;
    grid-template-areas:
      'hats bags shoes'
      'accessories accessories shoes';
    .hats {
      grid-area: hats;
    }
    .bags {
      grid-area: bags;
    }
    .shoes {
      grid-area: shoes;
    }
    .accessories {
      grid-area: accessories;
    }
    .responsiveShow {
      display: none !important;
    }
    @media only screen and (max-width: 992px) {
      .responsiveHide {
        display: none !important;
      }
      .responsiveShow {
        display: block !important;
      }
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas:
        'hats bags'
        'accessories shoes';
    }
    .hats,
    .bags,
    .shoes,
    .accessories {
      @include flexInfo(column, center, center, center);
      align-self: center;
      position: relative;
      width: fit-content;
      height: fit-content;
    }
    .categoryImage {
      max-width: 100%;
      max-height: 100%;
      display: block;
    }
    .hoverOverlay {
      @include responsiveRemove();
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(238, 51, 100, 0.75);
      color: #ffffff;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      opacity: 0;
      transition: opacity 0.25s;
    }
    .hoverOverlay--blur {
      backdrop-filter: blur(5px);
    }
    .hoverOverlay > * {
      transform: translateY(20px);
      transition: transform 0.25s;
    }
    .hoverOverlay:hover {
      opacity: 1;
      cursor: pointer;
    }
    .hoverOverlay:hover > * {
      transform: translateY(0);
    }
    .image__title {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 600;
      font-size: 3rem;
      text-align: center;
      letter-spacing: 0.2em;
      color: #ffffff;
    }
  }
}
