@mixin size($w, $h) {
  width: $w;
  height: $h;
}
@mixin flexInfo($direction, $justifyC, $alignC, $alignI) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justifyC;
  align-content: $alignC;
  align-items: $alignI;
}
@mixin imageStray($pos, $width, $top, $left) {
  position: $pos;
  width: $width;
  top: $top;
  left: $left;
}

$primary-color: crimson;
$primaryColor: #0b0b0b;
$secondaryColor: #2d2d2d;
$pink: #ee3364;
$lightBlue: #00bec5;
$productBorder: #edebe0;
$placeholder: #2d2d2d;

// @media only screen and (max-width: 1400px) {
// }

// @media only screen and (max-width: 1200px) {
// }

// @media only screen and (max-width: 992px) {
// }

// @media only screen and (max-width: 768px) {
// }
