#authentication {
  @include size(100%, 88vh);
  @include flexInfo(column, center, center, center);
  background: url(../../images/heroSection.jpg) no-repeat 84%;
  background-size: cover;
  .tabsPane {
    @include size(30vw, fit-content);
    border: none;
    @include flexInfo(row, space-around, center, center);
    .nav-item {
      width: 50%;
      background-color: rgba(207, 242, 244, 1);
      @include flexInfo(row, center, center, center);
      border-top-right-radius: 10px;
      border-top-left-radius: 10px;
    }
    button {
      width: 100%;
      font-weight: 400;
      font-size: 1.5rem;
      line-height: 1.8rem;
      color: $primaryColor;
      border-top-right-radius: 10px;
      border-top-left-radius: 10px;
      &:hover,
      &::after,
      &::before {
        border: none;
      }
    }
    button.active {
      background-color: rgba(254, 183, 165, 1);
      color: $primaryColor;
    }
  }
  .tab-content {
    @include size(30vw, 70vh);
    padding: 3rem 2rem;
    margin: 0;
    background-color: rgba(254, 183, 165, 1);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    .login {
      @include size(100%, 100%);
      @include flexInfo(column, flex-start, center, stretch);
      p {
        font-weight: 600;
        font-size: 1.5rem;
        line-height: 2rem;
        color: $primaryColor;
      }
      input {
        @include size(100%, 3rem);
        padding-left: 1.5rem;
        border: 2px solid $pink;
        border-radius: 10px;
        &:focus {
          border: 2px solid $lightBlue;
          border-radius: 10px;
          outline-offset: 0px;
          outline: none;
        }
      }
      button {
        @include size(100%, 3rem);
        background-color: $pink;
        border: none;
        border-radius: 10px;
        font-weight: 600;
        font-size: 1.5rem;
        color: $primaryColor;
        margin-top: 2rem;
        color: #ffffff;
        &:hover {
          background-color: $lightBlue;
          box-shadow: none;
          outline: none;
        }
      }
    }
  }

  @media only screen and (max-width: 1660px) {
    .tabsPane,
    .tab-content {
      width: 40vw;
    }
  }

  @media only screen and (max-width: 1200px) {
    .tabsPane {
      width: 50vw;
    }
    .tab-content {
      width: 50vw;
      .login {
        p,
        button {
          font-size: 1.25rem;
          line-height: 1rem;
        }
      }
    }
  }

  @media only screen and (max-width: 768px) {
    .tabsPane {
      width: 90vw;
    }
    .tab-content {
      @include size(90vw, 70vh);
      max-height: 70vh;
      overflow: scroll;
      .login {
        p,
        button {
          font-size: 1.1rem;
        }
        button {
          margin-top: 1rem;
        }
        .row {
          .col-12 {
            padding-left: 0 !important;
          }
        }
      }
    }
  }
}
